[Unit]
Description=ComfyUI Image Generation Server
After=network.target

[Service]
Type=simple
User=swiri021
WorkingDirectory=/home/swiri021/ComfyUI
ExecStart=/home/swiri021/ComfyUI/comfyui-env-nightly/bin/python main.py --listen 0.0.0.0 --enable-cors-header --reserve-vram 4 --gpu-only
Restart=always
RestartSec=10
OOMPolicy=restart
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
